//---------- Fonts
$font-primary: "Poppins", sans-serif;
$font-secondary: "Sen", sans-serif;

//---------- Colors
$text-heading: #171100;
$text: #5f5b53;
$bg-black: #171100;
$bg-brown: #2e2100;
$bg-orange: #ffb900;
