section.cta
  .container
    .cta-content
      .cta-info
        h2.heading.cta-heading Take the next step toward your personal and professional goals with Lesson.
        p.cta-caption Take the next step toward. Join now to receive personalized  and more recommendations from the full Coursera catalog.
        a.button(href="#!") Join Now
      .cta-image
        img(src="./images/cta.png", alt="Take the next step toward your personal and professional goals with Lesson.")