section.features
  .container
    .features-content
      .features-image
        img.lower(src="./images/features/features.png", alt="Learner outcomes through our awesome platform")
        img(src="./images/features/features_1.png", alt="Learner outcomes through our awesome platform")
      .features-info
        h2.heading.features-heading Learner outcomes through our awesome platform
        p.features-caption 87% of people learning for professional development report career benefits like getting a promotion, a raise, or starting a new career.
        span Lesson Impact Report (2022)
        a.button(href="#!") Sign Up